
.container{
    height: 2390px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside{
    width: 104px;
    height: 990px;
}
.menu svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 420px;
    display: none;
    color: #000;
}
header{
    max-width: 1440px;
    height: 31px;
    top: 43px;
    left: 177px;
    position: absolute;
    display: flex !important;
    justify-content: space-between;
    text-align: center;

}
ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
}
.portfolio{
    padding-bottom: 5px;
    border-bottom: solid 3px;
}

.li{
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.call{
    top: 3px;
    left: 1020px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: #F1214F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.5%; 
    letter-spacing: -0.8px;
    width: 116px;
}
.column{
    width: 1px;
    height: 2000px;
    left: 104px;
    background: #DEE1E6;
    position: absolute;
    transform: rotate(-180deg);
}
.brand{
    color: #000;
    font-family: cursive;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.5%;
    letter-spacing: -4.16px;
    width: 37px;
    height: 67px;
    top: 16px;
    left: 29px;
    position: fixed;
}
.brand-small{
    color: #F1214F;
    font-family: cursive;
    top: 51px;
    font-size: 21px;
    left: 69px;
    position: fixed;
}

.social{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    top: 580px;
    left: 43px;
    position: fixed;
}
.github svg{
    color: #f3a100;
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.linkedin svg{
    color: #1783a4;
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.telegram svg{
    color: #1198e6;
    width: 1.2rem !important;
    height: 1.2rem !important;
}
a{
    text-decoration: none;
}



/* *-----------------------------------------------------------------------* main */

main .hero-text{
    /* width: 586px; */
    height: 247px;
    top: 264px;
    left: 50px;
    position: absolute;
    color: rgba(56, 56, 56, 1);
}
.hero-img{
    width: 500px;
    top: 150px;
    left: 850px;
    position: absolute;
    border-radius: 220px;
}
.hero-img-bg{
    background-color: #f1214fb5;
    transform: rotate(20deg);
    width: 250px;
    height: 624px;
    position: absolute;
    top: 147px;
    border-radius: 10px;
    left: 1055px;
}
.hithere{
    width: 91px;
    height: 28px;
    top: 10px;
    left: 177px;
    position: absolute;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-text{
    top: 20px;
    width: 475px;
    left: 170px;
    position: absolute;
    display: flex;
    color: #383838;
    font-size: 102px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.5%;
    letter-spacing: -2px;
}
.redR{
    color: #F1214F;
    font-size: 102px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.5%;
}
.cloak{
    width: 35px;
    height: 35px;
    top: 220px;
    left: 530px;
    position: absolute;
}
.main-text-h3{
    width: 583px;
    height: 67px;
    top: 150px;
    left: 170px;
    position: absolute;
    color: #383838;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.5%; /* 67.34px */
    letter-spacing: -2.16px;
}
.main-text-h4{
    width: 601px;
    height: 67px;
    font-family: monospace;
    top: 240px;
    left: 350px;
    position: absolute;
    color: #333333d9;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.5%;
    letter-spacing: -0.56px;
}
.button-49,
.button-49:after {
  width: 200px;
  height: 86px;
  line-height: 88px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #F1214F 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #333;
  outline: transparent;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 320px;
  left: 170px;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}


.email{
    width: 170px;
    height: 56px;
    top: 800px;
    left: 300px;
    position: absolute;
}
.email h5{
    color: #383838;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.5%; /* 28.49px */
}
.email p{
    font-size: 17px;
    line-height: normal;
}
.location{
    width: 165px;
    height: 56px;
    top: 800px;
    left: 770px;
    width: 5px;
    position: absolute;
}

.location h5{
    color: #383838;
    font-size: 22px;
    font-style: normal;
    width: 5px;
    font-weight: 900;
    line-height: 129.5%; /* 28.49px */
}
.location p{
    width: 158px;
    font-size: 17px;
}
.placeholder{
    width: 35px;
    height: 35px;
    top: 7px;
    left: -60px;
    position: absolute;
}
.gmail{
    width: 35px;
    height: 35px;
    top: 7px;
    left: -60px;
    position: absolute;
}
.contact-column{
    width: 1px;
    height: 52px;
    opacity: 0.3;
    top: 800px;
    left: 600px;
    position: absolute;
    background: #383838;
}

.row{
    width: 1px;
    height: 1170px;
    left: 800px;
    opacity: 0.3;
    top: 350px;
    position: absolute;
    background: #383838;
    transform: rotate(90deg);
}

.skills{
    top: 990px;
    left: 620px;
    position: absolute;
    color: #383838;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.5%;
    letter-spacing: -2px;
}
.icons-style{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 1140px;
    left: 500px;
    justify-content: space-around;
}
.icons-skills{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 1240px;
    left: 500px;
    justify-content: space-around;
}
.icon img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}


.icon svg{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.aboutme-title{
    display: flex;
    top: 40px;
    gap: 8px;
    left: 60px;
    position: absolute;
    color: #383838;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.5%;
    letter-spacing: -2px;
}
.About{
    width: 700px;
    height: 400px;
    top: 1400px;
    left: 355px;
    position: absolute;
    padding: 50px;
    border: thick double #33333335;
}
.paragraph{
    width: 422px;
    height: 200px;
    top: 125px;
    left: 314px;
    position: absolute;
    color: #383838;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.5%;
    padding: 8px 0 8px 0;
}

.paragraph-ul{
    font-family: monospace;
    font-size: 18px;
    /* letter-spacing: 1.5px; */
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    top: 151px;
    left: 30px;
    
    position: absolute;
}

.paragraph-ul span{
    padding: 8px 0 8px 0;

}
.paragraph h5{
    color: #03009e;
    font-size: 23px;
    font-weight: bold;
    top: 310px;
    left: -65px;
    position: absolute;
}
.aboutme-red{
    color: #F1214F;
    font-size: 50px;
}
.me2{
    height: 250px;
    top: 80px;
    left: 60px;
    border-radius: 15px;
    position: absolute;
}

.dots{
    display: flex;
    flex-direction: column;
    height: 95px;
    top: 163px;
    left: 0px;
    position: absolute;
    justify-content: space-between;
}

.dot{
    background-color: #383838;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}












@media (max-width : 1450px) {
    .call{
        position: absolute;
        left: 900px;
    }
    main .hero-text{
        left: 80px;
        position: absolute;
    }
    .hero-img{
        left: 800px;
        position: absolute;
    }
    .hero-img-bg{
        position: absolute;
        top: 147px;
        border-radius: 10px;
        left: 1005px;
    }
    .row {
        width: 1px;
        height: 900px;
        left: 685px;
        top: 470px;
        position: absolute;
    }
        .skills{
        top: 990px;
        left: 520px;
        position: absolute;
        color: #383838;
        font-size: 65px;
        font-style: normal;
        font-weight: 900;
        line-height: 129.5%;
        letter-spacing: -2px;
    }
    .icons-style{
        width: 500px;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 1140px;
        left: 400px;
        justify-content: space-around;
    }

    .icons-skills{
        width: 500px;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 1240px;
        left: 400px;
        justify-content: space-around;
    }
    .About {
        top: 1400px;
        left: 265px;
        position: absolute;
    }
}
@media (max-width : 1400px) {
 
    .hero-img-bg{
        position: absolute;
        width: 200px;
        /* left: 980px; */
    }
}
@media (max-width : 1350px) {
    .hero-img{
        width: 400px;
        left: 800px;
        position: absolute;
    }
    .hero-img-bg{
        position: absolute;
        width: 173px;
        height: 405px;
        top: 158px;
        border-radius: 10px;
        left: 991px;
    }
    main .hero-text{
        left: 0px;
        position: absolute;
    }

}
@media (max-width : 1300px) {
    main .hero-text{
        top: 480px;
        left: 167px;
        position: absolute;
    }
    .hero-img{
        width: 270px;
        top: 130px;
        left: 540px;
        position: absolute;
    }
    .hero-img-bg{
        position: absolute;
        height: 323px;
        top: 130px;
        width: 129px;
        left: 656px;
    }
    .email{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 400px;
        position: absolute;
    }
    .location{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 800px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 675px;
        position: absolute;
    }
    .row {
        width: 1px;
        height: 809px;
        left: 664px;
        top: 669px;
        position: absolute;
    
    }
    .skills{
        top: 1140px;
        left: 515px;
        position: absolute;
        color: #383838;
        font-size: 65px;
        font-style: normal;
        font-weight: 900;
        line-height: 129.5%;
        letter-spacing: -2px;
    }
    .icons-style{
        width: 500px;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 1300px;
        left: 385px;
        justify-content: space-around;
    }
    .icons-skills{
        width: 500px;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 1400px;
        left: 385px;
        justify-content: space-around;
    }
    .call{
        position: absolute;
        left: 750px;
    }  
    .About{
        top: 1519px;
        left: 254px;
        position: absolute;
    }
}
@media (max-width : 1250px) {
}
@media (max-width : 1200px) {
    .hero-img{
        width: 270px;
        top: 130px;
        left: 480px;
        position: absolute;
    }
    .hero-img-bg{
        left: 600px;
        position: absolute;
    }
    .skills{
        top: 1140px;
        left: 470px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 340px;

    }
    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 340px;
        position: absolute;
    }
    .About {
        top: 1520px;
        left: 200px;
        position: absolute;
    }
    .email{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 350px;
        position: absolute;
    }
    .location{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 750px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 625px;
        position: absolute;
    }
    .row {
        width: 1px;
        height: 809px;
        left: 620px;
        top: 669px;
        position: absolute;
    }
}
@media (max-width : 1150px) {
    .main-text-h4 {
        width: 472px;
    }
}
@media (max-width : 1100px) {
    .call{
        position: absolute;
        left: 600px;
    }
    .row {
        left: 560px;
        top: 715px;
        height: 700px;
        position: absolute;
    }
    .email{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 300px;
        position: absolute;
    }
    .location{
        width: 170px;
        height: 56px;
        top: 970px;
        left: 700px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 585px;
        position: absolute;
    }
    main .hero-text {
        top: 500px;
        left: 120px;
        position: absolute;
    }
    .skills{
        top: 1140px;
        left: 420px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 290px;

    }
    .hero-img{
        width: 270px;
        top: 130px;
        left: 410px;
        position: absolute;
    }
    .hero-img-bg{
        left: 530px;
        position: absolute;
    }

    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 290px;
        position: absolute;
    }
    .About{
        position: absolute;
        top: 1515px;
        left: 155px;
    }
}
@media (max-width : 1050px) {
    .call{
        position: absolute;
        left: 600px;
    }
}
@media (max-width : 1000px) {
    .hero-img{
        width: 270px;
        top: 130px;
        left: 370px;
        position: absolute;
    }
    .hero-img-bg{
        left: 480px;
        position: absolute;
    }
    main .hero-text {
        top: 500px;
        left: 75px;
        position: absolute;
    }
    .row {
        left: 520px;
        top: 715px;
        height: 700px;
        position: absolute;
    }
    .About{
        position: absolute;
        width: 500px;
        top: 1515px;
        left: 225px;
        height: 430px;
    }
    .me2 {
        height: 160px;
        top: -25px;
        left: 400px;
        border-radius: 15px;
        position: absolute;
    }
    .paragraph{
        width: 422px;
        top: 150px;
        left: 110px;
        position: absolute;
        color: #383838;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 129.5%;
        padding: 8px 0 8px 0;
    }    
    .paragraph h5 {
        left: 30px;
        position: absolute;
    }
} 
@media (max-width : 950px) {
    .call{
        position: absolute;
        left: 500px;
    }
    .hero-img{
        width: 270px;
        top: 130px;
        left: 330px;
        position: absolute;
    }
    .hero-img-bg{
        left: 440px;
        position: absolute;
    }
    main .hero-text {
        top: 500px;
        left: 35px;
        position: absolute;
    }
    .row {
        left: 500px;
        top: 769px;
        height: 600px;
        position: absolute;
    }
    .email{
        top: 970px;
        left: 250px;
        position: absolute;
    }
    .location{
        top: 970px;
        left: 650px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 525px;
        position: absolute;
    }
    .skills{
        top: 1140px;
        left: 335px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 220px;

    }
    .icons-skills{
        width: 500px;
        
        top: 1390px;
        left: 220px;
        position: absolute;
    }
    .About{

        position: absolute;
        width: 500px;
        left: 175px;
    }
}
@media (max-width : 900px) {
    .main-text-h4 {
        position: absolute;
        top: 242px;
        font-size: 23px;
        width: 400px;
    }
    
}
@media (max-width : 850px) {
    .call{
        display: none;
    }
    .column{
        display: none;
    }
    .brand-small{
        position: relative;
        top: -15px;
        left: 69px;
    }

    .social{
        background-color: #ffffffe0;
        z-index: 1030;
        padding: 10px;
        border-radius: 10px;
        top: 580px;
        left: 20px;
        position: fixed;
    }

    .brand{
        position: relative;
    }
    .hero-img{
        width: 270px;
        top: 140px;
        left: 270px;
        position: absolute;
    }
    .hero-img-bg{
        top: 150px;
        left: 380px;
        position: absolute;
    }
    main .hero-text {
        top: 500px;
        left: -20px;
        position: absolute;
    }
    .row {
        left: 500px;
        top: 769px;
        height: 650px;
        position: absolute;
    }
    .email{
        top: 970px;
        left: 200px;
        position: absolute;
    }
    .location{
        top: 970px;
        left: 600px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 470px;
        position: absolute;
    }
    .skills{
        top: 1140px;
        left: 285px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 170px;

    }
    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 170px;
        position: absolute;
    }
    .About{
        position: absolute;
        width: 500px;
        left: 125px;
    }
    .row {
        left: 410px;
        top: 770px;
        height: 600px;
        position: absolute;
    }
}


@media (max-width : 800px) {
    .row {
        left: 380px;
        top: 780px;
        height: 550px;
        position: absolute;
    }
    .hero-img{
        width: 270px;
        top: 140px;
        left: 200px;
        position: absolute;
    }
    .hero-img-bg{
        top: 150px;
        left: 310px;
        position: absolute;
    }
    main .hero-text {
        top: 500px;
        left: -70px;
        position: absolute;
    }
    .email{
        top: 970px;
        left: 150px;
        position: absolute;
    }
    .location{
        top: 970px;
        left: 550px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 420px;
        position: absolute;
    }
    .skills{
        top: 1140px;
        left: 235px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 120px;
    }
    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 120px;
        position: absolute;
    }
    .About{
        position: absolute;
        width: 500px;
        left: 75px;
    }


}
@media (max-width : 750px) {
    .menu svg{
        display: block;
    }
    ul{
        display: none;
    }
    .hithere{
        font-size: 19px;
    }
    
    main .main-text {
        font-size: 80px;
        /* top: 500px;
        left: 35px; */
        position: absolute;
    }
    .redR{
        font-size: 80px;
    }
    .main-text-h3{
        top: 110px;
        left: 170px;
        width: 450px;
        position: absolute;
        font-size: 41px;
    }
    .main-text-h4{
        top: 180px;
        left: 310px;
        position: absolute;
        font-size: 21px;
    }
    .button-49 {
        position: absolute;
        font-size: 18px;
        top: 265px;
        left: 170px;
    }
    

    .email{
        top: 970px;
        left: 120px;
        position: absolute;
    }
    .location{
        top: 970px;
        left: 520px;
        width: 5px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 390px;
        position: absolute;
    }
    .email h5{
        font-size: 19px;
    }
    .email p{
        font-size: 15px;
    }
    .row {
        left: 355px;
        top: 800px;
        height: 500px;
        position: absolute;
    }

    .location h5{
        font-size: 19px;
    }
    .location p{
        width: 81px;
        font-size: 15px;
    }
    .placeholder{
        width: 28px;
        height: 28px;
    }
    .gmail{
        width: 28px;
        height: 28px;
    }
    .About {
        position: absolute;
        width: 500px;
        left: 50px;
        padding: 40px;
    }
    .skills{
        top: 1140px;
        left: 210px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 100px;
    }
    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 100px;
        position: absolute;
    }
    .social{
        background-color: #ffffffe0;
        z-index: 1030;
        border: 0.1px #c6c6c6 solid;
        border-radius: 11px !important;
        padding: 25px 15px 25px 20px;
        border-radius: 10px;
        top: 151px;
        left: -8px;
        position: fixed;
    }
}



@media (max-width : 700px) {
    .menu svg{
        position: absolute;
        top: -10px;
        left: 380px;
    }
    .hero-img{
        width: 270px;
        top: 130px;
        left: 180px;
        position: absolute;
    }
    .hero-img-bg{
        left: 290px;
        position: absolute;
    }    
    .About{
        position: absolute;
        width: 500px;
        left: 80px;
        padding: 40px 0px;
    }
    .me2{
        height: 120px;
        top: -10px;
        left: 340px;
        position: absolute;
    }
    .paragraph {
        top: 130px;
        left: 50px;
        position: absolute;
    }
    .paragraph h5 {
        left: 50px;
        position: absolute;
    }
    .aboutme-title{
        font-size: 40px;
    }
    .aboutme-red{
        font-size: 40px;
    }
    .skills{
        top: 1140px;
        left: 200px;
        position: absolute;
    }
    .icons-style{
        width: 500px;
        position: absolute;
        top: 1290px;
        left: 90px;
    }
    .icons-skills{
        width: 500px;
        top: 1390px;
        left: 90px;
        position: absolute;
    }
}
@media (max-width : 650px) {
    .hero-img{
        width: 270px;
        top: 130px;
        left: 175px;
        position: absolute;
    }
    .hero-img-bg{
        left: 285px;
        position: absolute;
    } 
    .email{
        top: 970px;
        left: 110px;
        position: absolute;
    }
    .location{
        top: 970px;
        left: 480px;
        position: absolute;
    }
    .contact-column {
        top: 970px;
        left: 355px;
        position: absolute;
    }
    .row {
        left: 320px;
        position: absolute;
    }
    main .hero-text {
        left: -105px;
        position: absolute;
    }
    .menu svg {
        position: absolute;
        top: -10px;
        left: 340px;
    }
    .skills {
        top: 1140px;
        left: 185px;
        position: absolute;
    }
    .icons-style{
        position: absolute;
        left: 40px;
    }
    .icons-skills{
        left: 40px;
        position: absolute;
    }
    .About {
        position: absolute;
        left: 40px;
    }
    .skills {
        left: 165px;
        position: absolute;
    }
    .row {
        top: 820px;
        left: 300px;
        position: absolute;
        height: 465px;
    }
    .main-text-h4 {
        width: 364px;
    }
}
@media (max-width : 600px) {
    .About {
        position: absolute;
        left: 90px;
        width: 350px;
        height: 500px;
        top: 1490px;
    }
    .main-text-h4 {
        width: 310px;
    }
    .hero-img {
        width: 270px;
        top: 130px;
        left: 130px;
        position: absolute;
    }
    .hero-img-bg {
        left: 245px;
        position: absolute;
    }
    .menu svg {
        position: absolute;
        top: -15px;
        left: 300px;
    }
    .redR {
        font-size: 64px;
    }
    main .main-text {
        font-size: 64px;
    }
    .main-text-h3 {
        top: 95px;
        left: 170px;
        width: 450px;
        position: absolute;
        font-size: 34px;
    }
    .main-text-h4 {
        top: 154px;
        left: 285px;
        position: absolute;
        font-size: 18px;
    }
    .contact-column{
        display: none;
    }
    .location {
        top: 973px;
        left: 400px;
        position: absolute;
    }
    .button-49 {
        position: absolute;
        font-size: 15px;
        top: 230px;
        width: 160px;
        height: 72px;
        left: 170px;
    }.button-49 p{
        position: absolute;
        top: -5px;
        left: 17px;
    }
    .row {
        left: 270px;
        position: absolute;
    }
    .skills {
        left: 180px;
        position: absolute;
        font-size: 50px;
    }
    .icons-style {
        position: absolute;
        left: 30px;
        top: 1250px;
    }
    .icons-skills {
        left: 30px;
        top: 1350px;
        position: absolute;
    }

    .aboutme-title {
        font-size: 32px;
    }
    .aboutme-red {
        font-size: 32px;
    }
    .aboutme-title {
        top: 20px;
        left: 25px;
    }
    .paragraph {
        width: 260px;
        top: 105px;
        left: 50px;
        position: absolute;
    }
    .paragraph h5 {
        width: 265px;
        left: -2px;
        position: absolute;
        top: 400px;
        font-size: 20px;
    }
    .dots {
        height: 120px;
        top: 213px;
        left: 0px;
        position: absolute;
    }
    .paragraph-ul {
        font-family: monospace;
        font-size: 18px;
        color: black;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        top: 191px;
        left: 30px;
        position: absolute;
    }
    .me2 {
        height: 95px;
        top: -12px;
        left: 258px;
        position: absolute;
    }
}
@media (max-width : 550px) {
    .hero-img {
        width: 270px;
        top: 110px;
        left: 110px;
        position: absolute;
    }
    .hero-img-bg {
        left: 225px;
        top: 110px;
        position: absolute;
    }
    .main-text-h4 {
        top: 191px;
        left: 172px;
        position: absolute;
    }    
    .main-text-h3 {
        width: 270px;
    }
    .button-49 {
        position: absolute;
        top: 250px;
    }
    .icons-style {
        width: 400px;
        position: absolute;
        left: 50px;
    }
    .icons-skills {
        position: absolute;
        left: 50px;
        width: 400px;
    }
    .skills {
        position: absolute;
        left: 160px;
        font-size: 45px;
        width: 235px;
    }
    .main-text {
        width: 292px;
    }
    .menu svg {
        position: absolute;
        top: -15px;
        left: 250px;
    }
    .placeholder {
        left: -35px;
        position: absolute;
    }
    .gmail {
        top: 10px;
        left: -40px;
        position: absolute;
    }
    .email {
        left: 90px;
        position: absolute;
    }
    .location {
        left: 360px;
        position: absolute;
    }
    .row {
        left: 248px;
        position: absolute;
        height: 400px;
        top: 800px;
    }
    .contact-group{
        position: absolute;
        top: -50px;
    }
    .skills-group{
        position: absolute;
        top: -55px;
    }
    .About {
        position: absolute;
        left: 70px;
        width: 350px;
        height: 500px;
        top: 1490px;
    }
}  
@media (max-width : 500px) {
    .hero-img {
        width: 270px;
        top: 110px;
        left: 95px;
        position: absolute;
    }
    .hero-img-bg {
        left: 210px;
        top: 110px;
        position: absolute;
    }
    .main-text-h4 {
        top: 191px;
        left: 172px;
        position: absolute;
    }    
    .main-text-h3 {
        width: 270px;
    }
    .icons-style {
        width: 400px;
        position: absolute;
        left: 35px;
    }
    .icons-skills {
        position: absolute;
        left: 35px;
        width: 400px;
    }
    .skills {
        font-size: 40px;
    }
    .main-text {
        width: 292px;
    }
    .menu svg {
        position: absolute;
        top: -15px;
        left: 200px;
    }
    .placeholder {
        left: -35px;
        position: absolute;
    }
    .gmail {
        top: 10px;
        left: -40px;
        position: absolute;
    }
    .email {
        left: 90px;
        position: absolute;
    }
    .location {
        left: 360px;
        position: absolute;
    }
    .row {
        left: 248px;
        position: absolute;
        height: 400px;
        top: 800px;
    }
    .contact-group{
        position: absolute;
        top: -50px;
    }
    .skills-group{
        position: absolute;
        top: -55px;
    }
    .About {
        position: absolute;
        left: 55px;
        width: 350px;
        height: 500px;
        top: 1490px;
    }
    .row {
        left: 221px;
        position: absolute;
        height: 372px;
        top: 807px;
    }
    .location{
        display: none;
    }
    .email {
        top: 970px;
        left: 170px;
        position: absolute;
    }
}  
@media (max-width : 450px) {
    .hero-img {
        width: 270px;
        top: 110px;
        left: 70px;
        position: absolute;
    }
    .hero-img-bg {
        left: 185px;
        top: 110px;
        position: absolute;
    }
    .menu svg {
        position: absolute;
        top: -17px;
        left: 160px;
    }
    main .hero-text {
        left: -115px;
        position: absolute;
    }
    .email {
        left: 130px;
        position: absolute;
    }
    .row {
        left: 205px;
        position: absolute;
        height: 347px;
        top: 815px;
    }
    .skills {
        position: absolute;
        left: 130px;
    }
    .icons-style {
        width: 350px;
        position: absolute;
        left: 30px;
    }
    .icons-skills {
        width: 350px;
        position: absolute;
        left: 30px;
    }
    .icon img {
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }
    .icon svg {
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }
    .About {
        position: absolute;
        left: 35px;
    }
}
@media (max-width : 425px) {
    .About {
        position: absolute;
        left: 15px;
    }
    .row {
        left: 190px;
        position: absolute;
        height: 347px;
        top: 815px;
    }
    .menu svg {
        position: absolute;
        top: -17px;
        left: 140px;
    }
    .hero-img {
        width: 270px;
        top: 110px;
        left: 50px;
        position: absolute;
    }
    .hero-img-bg {
        left: 170px;
        top: 110px;
        position: absolute;
    }
    main .hero-text {
        left: -130px;
        position: absolute;
    }
    .skills {
        position: absolute;
        left: 115px;
    }
    .icons-style {
        width: 350px;
        position: absolute;
        left: 15px;
    }
    .icons-skills {
        width: 350px;
        position: absolute;
        left: 15px;
    }
}
@media (max-width : 400px) {
    .paragraph {
        left: 35px;
        position: absolute;
    }
    .About {
        width: 325px;
    }
    .me2 {
        height: 90px;
        left: 230px;
        position: absolute;
    }
    .menu svg {
        position: absolute;
        top: -17px;
        left: 120px;
    }
    .hero-img-bg {
        left: 165px;
        top: 110px;
        position: absolute;
    }    
    main .hero-text {
        left: -140px;
        position: absolute;
    }
    .hero-img {
        left: 45px;
        position: absolute;
    }
    .row {
        left: 188px;
        position: absolute;
        height: 300px;
        top: 838px;
    }
    .skills {
        position: absolute;
        left: 105px;
    }
    .icons-style {
        width: 350px;
        position: absolute;
        left: 5px;
    }
    .icons-skills {
        width: 350px;
        position: absolute;
        left: 5px;
    }
    .email {
        left: 110px;
        position: absolute;
    }
}